

<div class="card container  mt-2">
  <h1>Check all the restaurants!</h1>
  <div class="card-body mt-3">
    <% @restaurants.each do |restaurant| %>
      <div class='mt-5'>
        <h5 class="card-title"><%= restaurant.name %></h5>
        <p class="card-text">Address:<%= restaurant.address %></p>
        <p class="card-text">Category:<%= restaurant.category %></p>
        <%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary"%>
      </div>
    <% end %>
  </div>
</div>
